<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-2 col-md-6">
                <div class="card bg-info text-white mb-4">
                    <div class="card-body text-center">
                        <h3 id="waiting">0</h3>Menunggu
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body text-center">
                        <h3 id="process">0</h3>Proses Dokter
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body text-center">
                        <h3 id="notcoming">0</h3>Tidak Datang
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body text-center">
                        <h3 id="done">0</h3>Selesai
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body text-center">
                        <h3 id="abort">0</h3>Dibatalkan
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6">
                <div class="card bg-default mb-4">
                    <div class="card-body text-center">
                        <h3 id="fail">0</h3>Gagal Load
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area mr-1"></i>
                        Reservasi Pasien Bulan <b id="thismonth">Januari</b>
                    </div>
                    <div class="card-body">
                        <canvas id="myBarChart" width="100%" height="40"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <!-- <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-child mr-1"></i>
                        BMI Calculator
                    </div>
                    <div class="card-body">
                        <form id="form-bmi">
                            <div class="form-group">
                                <label for="tinggi">Tinggi Badan</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Masukkan tinggi badan" id="tinggi">
                                    <div class="input-group-append">
                                        <span class="input-group-text">CM</span>
                                    </div>
                                </div>
                                <div id="error_tinggi"></div>
                            </div>
                            <div class="form-group">
                                <label for="berat">Berat Badan</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Masukkan berat badan" id="berat">
                                    <div class="input-group-append">
                                        <span class="input-group-text">KG</span>
                                    </div>
                                </div>
                                <div id="error_berat"></div>
                            </div>
                            <div class="form-group">
                                <label for="kelamin">Jenis Kelamin</label>
                                <select class="form-control" id="kelamin" name="kelamin">
                                    <option value="m">Laki-laki</option>
                                    <option value="f">Perempuan</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="umur">Umur</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Masukkan umur" id="umur">
                                    <div class="input-group-append">
                                        <span class="input-group-text">TAHUN</span>
                                    </div>
                                </div>
                                <div id="error_umur"></div>
                            </div>
                            <div class="form-group">
                                <label for="pinggang">Lingkar Pinggang</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Masukkan lingkar pinggang" id="pinggang">
                                    <div class="input-group-append">
                                        <span class="input-group-text">CM</span>
                                    </div>
                                </div>
                                <div id="error_pinggang"></div>
                            </div>
                            <div class="form-group">
                                <label for="pinggul">Lingkar Pinggul</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Masukkan lingkar pinggul" id="pinggul">
                                    <div class="input-group-append">
                                        <span class="input-group-text">CM</span>
                                    </div>
                                </div>
                                <div id="error_pinggul"></div>
                            </div>
                            <button type="button" id="btnBMI" class="btn btn-secondary float-right">Cek BMI</button>

                            <div class="clearfix"></div>
                            <br/>
                            <center>- Result Area -</center>
                            <br/>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th width="200px">BMI Value</th>
                                    <td width="10px">:</td>
                                    <td id="bmi_value"></td>
                                </tr>
                                <tr>
                                    <th>BMI Status</th>
                                    <td>:</td>
                                    <td id="bmi_status"></td>
                                </tr>
                                <tr>
                                    <th>BMI Risk</th>
                                    <td>:</td>
                                    <td id="bmi_risk"></td>
                                </tr>
                                <tr>
                                    <th>BMI Prime</th>
                                    <td>:</td>
                                    <td id="bmi_prime"></td>
                                </tr>
                                <tr>
                                    <th colspan="3" class="text-center" id="ideal_weight">Ideal Weight</th>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div> -->
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area mr-1"></i>
                        Update AQI <b>Samarinda, Indonesia</b>
                    </div>
                    <div class="card-body">
                        <div id="data-aqi" style="display: none;">
                            <table class="table table-sm table-bordered">
                                <tr>
                                    <td>From</td>
                                    <td>:</td>
                                    <td id="aqi_from"></td>
                                </tr>
                                <tr>
                                    <td>AQI</td>
                                    <td>:</td>
                                    <td id="aqi"></td>
                                </tr>
                                <tr>
                                    <td>Index</td>
                                    <td>:</td>
                                    <td id="aqi_index"></td>
                                </tr>
                            </table>
                        </div>
                        <canvas id="myLineChart" width="100%" height="70"></canvas>
                        <div id="loading-covid" class="text-center"><br/><h5>Harap Tunggu . . .</h5><br/></div>
                        <div id="error-covid" class="text-center"></div>
                        <center><small><i><b>Referensi:</b> <a href="https://waqi.info/id/" target="_blank">Air Quality Index</a></i></small></center>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-7">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Log Aktifitas
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataLog" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Aktifitas</th>
                                    <th>Status</th>
                                    <th>Dari</th>
                                    <th>Waktu</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-map mr-1"></i>
                        Map Location Plugin
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.67916929619!2d117.16072047619284!3d-0.47852603527926646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2df67f5b11d1cbbb%3A0xf8b2e388de9fb1e4!2sTaman%20Budaya%20Samarinda!5e0!3m2!1sen!2sid!4v1706234718327!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>